
.row{
    display: inline-flex;
}
.col{
    padding: 5px;
    text-align: center;
}



.hr{
    margin: 0px;
}

.results{
    text-align: justify;
    text-justify: inter-word;
}

.ok{
    color: green;
}
.bad{
    color: red;
}